.label-form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.notification-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.posture-view-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  gap: 0.5em;
}
