.abs {
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}

body {
  bottom: 0;
  font-family: "Titillium Web", sans-serif;
  color: black;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
}

.container {
  position: absolute;
  background-color: #1f2128;
  width: 100%;
  max-height: 100%;
}

.input_video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input_video .selfie {
  transform: scale(-1, 1);
}

.input_image {
  position: absolute;
}

.canvas-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.output_canvas {
  max-width: 100%;
  display: block;
  position: relative;
  left: 0;
  top: 0;
}

.control-panel {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.card-title {
  display: flex;
  justify-content: center;
  width: 100%; /* fills the width of the container */
}

.card-title-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* fills the width of the container */
  font-size: 1.5em;
}

.button-tooltip-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* fills the width of the container */
}

.scrollable-text-tooltip {
  max-height: 4.5em; /* Assuming 1.5em line-height */
  overflow-y: auto; /* Show scrollbar if needed */
  line-height: 1.5em;
}

.toast-custom-error {
  background-color: #d32f50 !important; /* Set your desired color */
  z-index: 1000;
}

.toast-custom-info {
  background-color: #0075ff !important; /* Set your desired color */
  z-index: 1000;
}

.posture-processing-container {
  background-color: #1f2128;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
